<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header th:replace="fragments/navigation :: navigation"></header>
      <h3>Add news</h3>
      <form th:action="@{/news}" th:method="POST" enctype="multipart/form-data">
        <div th class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" id="title" name="title" class="form-control" placeholder="Title" maxlength="100" required>
            </div>
            <div class="form-group">
              <label for="leadText">Lead text</label>
              <textarea id="leadText" name="leadText" class="form-control" placeholder="Lead text" maxlength="1024" required></textarea>
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea id="content" name="content" class="form-control" placeholder="Content" maxlength="16384" required></textarea>
            </div>
            <div class="form-group">
              <label for="publishingDate">Publishing date</label>
              <input type="date" id="publishingDate" name="publishingDate" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input type="file" id="image" name="image" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary bg">Add</button>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="authorIds">Authors</label>
              <br>
              <select id="authorIds" name="authorIds" class="custom-select" multiple required>
                <option th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:text="${author.name}">
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="categoryIds">Categories</label>
              <br>
              <select id="categoryIds" name="categoryIds" class="custom-select" multiple required>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <br>
      <h3>News</h3>
      <div th:if="${newsItems.empty}">There are no news.</div>
      <table th:unless="${newsItems.empty}" class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Published</th>
            <th>Views</th>
            <th>Authors</th>
            <th>Categories</th>
            <!--<th></th>-->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="newsItem : ${newsItems}">
            <td th:text="${#strings.abbreviate(newsItem.title,35)}">Title</td>
            <td th:text="${newsItem.datePublished}">Date published</td>
            <td th:text="${newsItem.views}">Views</td>
            <td>
              <div th:each="author : ${newsItem.authors}"
                   th:text="${author.name}">Author name</div>
            </td>
            <td>
              <div th:each="category : ${newsItem.categories}"
                   th:text="${category.name}">Category name</div>
            </td>
<!--            <td class="text-right">
              <button type="button" class="btn btn-primary bg-info" data-toggle="modal" th:attr="data-target='#'+${newsItem.id}">Edit</button>
            </td>-->
            <td class="text-right">
              <form th:action="@{/news/{id}(id=${newsItem.id})}" th:method="DELETE">
                <button type="submit" class="btn btn-primary bg-danger">Delete</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<!--    <div class="modal fade" th:each="newsItem : ${newsItems}" th:id="${newsItem.id}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form th:action="@{/news/{id}(id=${newsItem.id})}" th:method="PUT" enctype="multipart/form-data">
              <div th class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" th:value="${newsItem.title}" maxlength="100" required>
                  </div>
                  <div class="form-group">
                    <label for="leadText">Lead text</label>
                    <textarea id="leadText" name="leadText" class="form-control" th:text="${newsItem.leadText}" maxlength="1024" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="content">Content</label>
                    <textarea id="content" name="content" class="form-control" th:text="${newsItem.content}" maxlength="16384" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" class="form-control-file" required>
                  </div>
                  <button type="submit" class="btn btn-primary bg">Update</button>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="authorIds">Authors</label>
                    <br>
                    <select id="authorIds" name="authorIds" class="custom-select" multiple required>
                      <option th:each="author : ${authors}"
                              th:value="${author.id}"
                              th:text="${author.name}"
                              th:selected="${tr}">
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="categoryIds">Categories</label>
                    <br>
                    <select id="categoryIds" name="categoryIds" class="custom-select" multiple required>
                      <option th:each="category : ${categories}"
                              th:value="${category.id}"
                              th:text="${category.name}">
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </form>-->
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous">
    </script>
  </body>
</html>
